<VirtualHost *:80>
    ServerName wallabag.neergaard.dev

    ServerAdmin admin@neergaard.dev

    ErrorLog /var/log/apache2/domains/wallabag.neergaard.dev-error.log
    CustomLog /var/log/apache2/domains/wallabag.neergaard.dev-access.log combined

	RewriteEngine on
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName wallabag.neergaard.dev

    ServerAdmin admin@neergaard.dev

    ErrorLog /var/log/apache2/domains/wallabag.neergaard.dev-error.log
    CustomLog /var/log/apache2/domains/wallabag.neergaard.dev-access.log combined

    ProxyPass / http://127.0.0.1:{{ wallabag_port }}/
    <Location />
        ProxyPassReverse /
    </Location>

	RewriteEngine on

    SSLCertificateFile /etc/letsencrypt/live/wallabag.neergaard.dev/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/wallabag.neergaard.dev/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>
</IfModule>
